<!-- Call back -->
<section class="call-back">
    <h2 class="call-back-title">Залишилися питання?</h2>
    <p class="call-back-descr">Залиш заявку і ми відповімо</p>
    <ul class="call-back-list">
        <li class="call-back-item">
            <p class="call-back-info">І'мя</p>
        </li>
        <li class="call-back-item">
            <p class="call-back-info">Телефон</p>
        </li>
        <li class="call-back-item">
            <p class="call-back-info">Пошта</p>
        </li>
    </ul>
    <button type="button">Залишити заявку</button>
</section>