<footer>
  <div class="container">
    <a href="" class="logo-footer-link">
      <img
        src="./images/header/logo-footer.png"
        alt=""
        class="logo-icon-footer"
      />
    </a>
    <ul class="nav-foot-list list">
      <li class="nav-foot-list-item">
        <a href="" class="nav-foot-list-item-link">Main</a>
      </li>
      <li class="nav-foot-list-item">
        <a href="" class="nav-foot-list-item-link">Excursions</a>
      </li>
      <li class="nav-foot-list-item">
        <a href="" class="nav-foot-list-item-link">Personal Area</a>
      </li>
    </ul>
    <ul class="nav-conect-list list">
      <li class="nav-conect-list-item">
        <a href="tel:+380632042598" class="nav-conect-list-item-link"
          >+380 63 204 25 98</a
        >
      </li>
      <li class="nav-conect-list-item">
        <a href="tel:+380632042598" class="nav-conect-list-item-link"
          >+380 63 204 25 98</a
        >
      </li>
      <li class="nav-conect-list-item">
        <a href="" class="nav-conect-list-item-link">Telegram bot PeroTravel</a>
      </li>
    </ul>
    <ul class="social-list list">
      <li class="social-list-item">
        <a href="mailto:office@perotravel.ua" class="social-list-item-link"
          >office@perotravel.ua</a
        >
      </li>
      <li class="social-list-item">
        <a href="" class="social-list-item-link">
          <svg class="social-icon-inst">
            <use href="./images/header/spryte-hed-and-foot.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="" class="social-list-item-">
          <svg class="social-icon-fcbk">
            <use href="./images/header/spryte-hed-and-foot.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
