
<footer>
  <div class="container container-style-footer">
    <a href="./index.html" class="logo-footer-link">
      <img
        src="./images/header/logo-footer.png"
        alt=""
        class="logo-icon-footer"
      />
    </a>
    <ul class="nav-foot-list list">
      <li class="nav-foot-list-item">
        <a href="" class="nav-foot-list-item-link link">Main</a>
      </li>
      <li class="nav-foot-list-item">
        <a href="" class="nav-foot-list-item-link link">Excursions</a>
      </li>
      <li class="nav-foot-list-item">
        <a href="" class="nav-foot-list-item-link link">Personal Area</a>
      </li>
    </ul>
    <ul class="nav-conect-list list">
      <li class="nav-conect-list-item">
        <a href="tel:+380632042598" class="nav-conect-list-item-link link"
          ><svg class="mail-icon-conect" width="19" height="19">
            <use href="./images/header/spryte-hed-and-foot.svg#whatsapp-icon"></use>
          </svg>
          +380 96 428 13 77</a
        >
      </li>
      <li class="nav-conect-list-item">
        <a href="tel:+380632042598" class="nav-conect-list-item-link link"
          ><svg class="mail-icon-conect" width="19" height="19">
            <use href="./images/header/spryte-hed-and-foot.svg#telegram-icon"></use>
          </svg>
          +380 63 204 25 98</a
        >
      </li>
      <li class="nav-conect-list-item">
        <a href="" class="nav-conect-list-item-link link">
          <svg class="mail-icon-conect" width="19" height="19">
            <use href="./images/header/spryte-hed-and-foot.svg#telegram-icon"></use>
          </svg>Telegram bot PeroTravel</a>
      </li>
    </ul>
    <ul class="social-list list">
      <li class="social-list-item">
        <a href="mailto:office@perotravel.ua" class="social-list-item-link link"
          > <svg class="mail-icon" width="19" height="19">
            <use href="./images/header/spryte-hed-and-foot.svg#mail-icon"></use>
          </svg>
          office@perotravel.ua</a
        >
      </li>
      <div class="social-media">
        <li class="social-list-item">
        <a href="" class="social-list-item-link">
          <svg class="social-icon-inst" width="32" height="32">
            <use href="./images/header/spryte-hed-and-foot.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="" class="social-list-item-link ">
          <svg class="social-icon-fcbk" width="32" height="32">
            <use href="./images/header/spryte-hed-and-foot.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="" class="social-list-item-link ">
          <svg class="social-icon-telegram" width="32" height="32">
            <use href="./images/header/spryte-hed-and-foot.svg#telegram-icon"></use>
          </svg>
        </a>
      </li>
      </div>
    </ul>
  </div>
</footer>
