<section>
<p>gallery</p>
test
  <h2>Gallery</h2>
  <a href="">View all</a>
  <ul>
    <li>
      <img
        src="./images/gallery/img1.jpg"
        alt="lake"
        width="504"
        height="280"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img2.jpg"
        alt="waterfall"
        width="362"
        height="567"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img3.jpg"
        alt="quadricycle"
        width="267"
        height="264"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img4.jpg"
        alt="sunset"
        width="216"
        height="264"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img5.jpg"
        alt="girl with horse"
        width="216"
        height="264"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img6.jpg"
        alt="tunnel"
        width="266"
        height="123"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img7.jpg"
        alt="mountains town"
        width="266"
        height="123"
      />
    </li>
    <li>
      <img
        src="./images/gallery/img8.jpg"
        alt="mountains coast"
        width="503"
        height="283"
      />
    </li>
  </ul>
</section>
