
<header>
  <div class="container container-style">
    <a href="./index.html" class="logo-img">
      <img src="./images/header/logo.png" alt="" class="logo-icon">
    </a>
    <ul class="navigation-list list">
      <li class="navigation-list-item">
        <a href="" class="navigation-list-item-link link">Main</a>
      </li>
      <li class="navigation-list-item">
        <a href="" class="navigation-list-item-link link">Excursions</a>
      </li>
      <li class="navigation-list-item">
        <a href="" class="navigation-list-item-link link">Personal Area</a>
      </li>
    </ul>
  </div>
</header>
