.container-style-footer {
  display: flex;
  align-items: center;
}
.logo-footer-link {
  padding: 30px 0;
}
.nav-foot-list {
  margin-left: 110px;
}
.nav-foot-list-item-link {
  display: block;
  margin-bottom: 8px;
  transition: color 250ms linear;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #282828;
}
.nav-foot-list-item-link:is(:hover, :focus) {
  color: #ffc700;
}
.nav-conect-list {
  margin-left: 314px;
}

.nav-conect-list-item-link {
  display: block;
  margin-bottom: 8px;
  transition: color 250ms linear;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #282828;
}
.nav-conect-list-item-link:is(:hover, :focus) {
  color: #ffc700;
}

.social-list {
  margin-left: 112px;
}
.social-list-item-link {
  transition: color 250ms linear;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #282828;
}
.social-list-item-link:is(:hover, :focus) {
  color: #ffc700;
}
.social-media {
  display: flex;
  margin-top: 15px;
}
.social-icon-inst{
  fill:#E59B06;
}
.social-icon-fcbk{
  fill: #17C1BC;
}
