/* ==================== Hero =============== */

.hero-about-tour-page {
  
  padding: 210px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('/images/hero-about-tour-page/hero-about-tour.jpg');
   background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  color: var(--component-color-on-dark-background);
  margin-bottom: 40px;
}

.to-our-tours-link {
  display: inline-block;
  text-align: center;
  width: 272px;
  padding: 16px 0;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: var(--component-color-on-dark-background);
  transition: background 250ms linear;
  }

.arrow-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
fill: currentColor;
}

.to-our-tours-link:is(:hover, :focus) {
  background: linear-gradient(92.71deg, #17c1bc 0%, #0499dd 100%);
}

.link-button-wrapper {
  display: flex;
  gap: 15px;
}

.reaction-favoutite {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 11px 10px 9px 10px;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255,255,255,0.4234943977591037) 0%, rgba(255,255,255,0.5075280112044818) 100%);
   border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}
.heart-icon {
  fill: var(--component-color-on-dark-background);
  
}

.reaction-favoutite:is(:hover, :focus) {
    background-color: var(--accent-color) 
}


/* ==================== /Hero =============== */
