/* ==================== Hero =============== */

.hero-about-tour-page {
  width: 1444px;
  padding: 210px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('/images/hero-about-tour-page/hero-about-tour.jpg');
  filter: blur(0.5px);
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  color: var(--component-color-on-dark-background);
  margin-bottom: 40px;
}

.to-our-tours-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  padding: 16px 0;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: var(--component-color-on-dark-background);
  text-decoration: none;
}

.to-our-tours-link:after {
  content: '';
  display: block;
  background-image: url('/images/hero-about-tour-page/arrow.png');
  margin-left: 14px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.reaction-favoutite {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: var(--component-color-on-dark-background);
  opacity: 0.3;
  backdrop-filter: blur(500px);
  border-radius: 50%;
  border: none;
}
.heart-icon {
  fill: var(--component-color-on-dark-background);
}

/* ==================== /Hero =============== */
