.header-section {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #0499dd;

  margin-bottom: 90px;
}
.header-descr {
  max-width: 550px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;

  margin-bottom: 40px;
}
.information-list {
}
.sub-header {
  margin-left: 27px;
  width: 1000px;
  height: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #0499dd;
}
.add-sub {
  margin-bottom: 86px;
}
.sub-descr {
  max-width: 455px;
  margin-left: 77px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #282828;
}
.example {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.example:before{
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background: #FFC700;
  border-radius: 50%;
}
.icon-sub {
  position: absolute;
  left: 17px;
  top: 17px;
}

