<section class="add-cost">
  <h2>Додаткові витрати (за бажанням)</h2>
  <ol>
    <li class="add-cost-item">
      <h3 class="add-cost subtitle">Говерла</h3>
      <svg class="sun" width="57px" height="57px">
        <use
          href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"
        ></use>
      </svg>
      <svg class="coins" width="30px" height="30px">
        <use
          href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"
        ></use>
      </svg>
    </li>
  </ol>
  <p>asdfghjkl;</p>
</section>
