
<section class="add-cost">
    <div class="container">
      <h2 class="add-cost-title">Додаткові витрати (за бажанням)</h2>
    <ul>
      <li>
      <h3 class="add-cost-subtitle">Говерла</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="./images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">

        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
      </svg><p class="price">2500 &#8372;</p>

      </li>
      <li>
      <h3 class="add-cost-subtitle">Синевир</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="./images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">

        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
        </svg><p class="price">5500 &#8372;</p>

      </li>
      <li>
      <h3 class="add-cost-subtitle">Стежками Довбуша</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="./images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">

        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
        </svg><p class="price">2500 &#8372;</p>

     </li>
     <li>
      <h3 class="add-cost-subtitle">Яремче</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="./images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">

        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
        </svg><p class="price">2000 &#8372;</p>
        <use href="./images/additional-costs-about-tour-page/symbol-defs.svg#icon-co
      </li>
      <li>
      <h3 class="add-cost-subtitle">Обід</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="./images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      </li>
    </ul>
    </div>
 </section>
</body>
</html>
