<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Additional costs</title>
</head>
<body>
</section class="add-cost">
    <div class="container">
      <h2>Додаткові витрати (за бажанням)</h2>
    <ul>
      <li>
      <h3 class="add-cost subtitle">Говерла</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
      </svg>
      </li>
      <li>
      <h3 class="add-cost subtitle">Синевир</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
      </svg>
      </li>
      <li>
      <h3 class="add-cost subtitle">Стежками Довбуша</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
      </svg>
     </li>
     <li>
      <h3 class="add-cost subtitle">Яремче</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      <svg class="coins" width="30px" height="30px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-coins"></use>
      </svg>
      </li>
      <li>
      <h3 class="add-cost subtitle">Обід</h3>
      <svg class="sun" width="57px" height="57px">
        <use href="/src/images/additional-costs-about-tour-page/symbol-defs.svg#icon-sun"></use>
      </svg>
      </li>
    </ul>
    </div>
 </section>
 </body>
</html>