<section class="booking-section">
  <div class="booking-container container">
    <form class="booking-form">
      <p class="booking-form-title">Book the tour</p>
      <label class="booking-form-field">
        <span class="booking-form-input-wrapper">
          <input
            class="booking-form-input margin-bottom"
            type="text"
            name="date"
            class="booking-form-text"
            placeholder="28 June 2023"
          />
          <svg class="booking-form-input-icon" width="23" height="23">
            <use
              href="./images/booking-about-tour-page/icons.svg#icon-calender"
            ></use>
          </svg>
        </span>
      </label>
      <label class="booking-form-field">
        <span class="booking-form-input-wrapper">
          <input
            class="booking-form-input margin-bottom"
            type="text"
            name="number_of_adults"
            placeholder="5 adults"
          />
          <svg class="booking-form-input-icon" width="23" height="23">
            <use
              href="./images/booking-about-tour-page/icons.svg#icon-people"
            ></use>
          </svg>
        </span>
      </label>
      <label class="booking-form-field">
        <span class="booking-form-input-wrapper">
          <input
            class="booking-form-input"
            type="text"
            name="number_of_children"
            class="booking-form-text"
            placeholder="2 childer"
          />
          <svg class="booking-form-input-icon" width="23" height="23">
            <use
              href="./images/booking-about-tour-page/icons.svg#icon-people"
            ></use>
          </svg>
        </span>
      </label>
      <div class="booking-form-button-wrapper">
        <button type="submit" class="booking-button">Book</button>
        <button class="reaction-favoutite" type="submit">
          <svg class="heart-icon" width="30" height="30">
            <use
              href="./images/hero-about-tour-page/sprite.svg#icon-heart"
            ></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</section>
