<link rel="stylesheet" href="./css/about-tour/hero-about-tour-page.css" />

<section class="hero-about-tour-page">
  <div class="hero-container">
    <p class="hero-subtitle">Bus tour</p>
    <h1 class="hero-title">A South Coast classic</h1>
    <a class="to-our-tours-link link" href="./our-tours.html">To other tours</a>
    <button class="reaction-favoutite" type="button">
      <svg class="heart-icon" width="26" height="22">
        <use href="./images/hero-about-tour-page/heart.svg#icon-heart"></use>
      </svg>
    </button>
    <!-- <img
      src="./images/hero-about-tour-page/hero-about-tour.jpg"
      alt="Coast of Crimea"
    /> -->
  </div>
</section>
