<section class="hero-about-tour-page">
  <div class="hero-container container">
    <p class="hero-subtitle">Bus tour</p>
    <h1 class="hero-title">A South Coast classic</h1>
    <div class="link-button-wrapper">
    <a class="to-our-tours-link link" href="./our-tours.html">To other tours
      <span class="arrow-icon">
        <svg class="arrow" width="20" height="14">
          <use href="./images/hero-about-tour-page/sprite.svg#icon-arrow"></use>

        </svg>
      </span>
    </a>
    <button class="reaction-favoutite" type="submit">
     <svg class="heart-icon" width="30" height="30">
      <use href="./images/hero-about-tour-page/sprite.svg#icon-heart"></use>
    </svg>
          </button>
          
        </div>
  </div>
</section>


