<link rel="stylesheet" href="./css/about-tour/informations-about-tour-page.css" />

<div class="container relative-container">
  <h2 class="header-section">Important information</h2>
  <p class="header-descr">
    When crossing the border (Ukraine-Poland), you should have with you:
  </p>
  <ul class="information-list list">
    <li class="example">
      <svg class="icon-sub" width="51" height="51">
        <use href="./images/informations-about-tour-page/spryte-inf.svg#pasport"></use>
      </svg>
      <h3 class="sub-header add-sub">
        Ukrainian passport</h3>
    </li>
    <li class="example">
      <svg class="icon-sub" width="51" height="51">
        <use href="./images/informations-about-tour-page/spryte-inf.svg#pasport"></use>
      </svg>
      <h3 class="sub-header">
        Citizens under 14 years of age birth certificate
      </h3>
      <p class="sub-descr">
        Minor children cross the border accompanied by their parents,
        accompanied by a legal representative (notarized power of attorney
        indicating the country of export of the child).
      </p>
    </li>
  </ul>
</div>
