<div class="container relative-container">
  <div class="passport-container">
    <h2 class="header-section">Important information</h2>
    <p class="header-descr">
      When crossing the border (Ukraine-Poland), you should have with you:
    </p>
    <ul class="information-list list">
      <li class="example example-pas">
        <svg class="icon-sub" width="51" height="51">
          <use
            href="./images/informations-about-tour-page/spryte-inf.svg#pasport"
          ></use>
        </svg>
        <h3 class="sub-header add-sub">Ukrainian passport</h3>
      </li>
      <li class="example example-pas">
        <svg class="icon-sub" width="51" height="51">
          <use
            href="./images/informations-about-tour-page/spryte-inf.svg#pasport"
          ></use>
        </svg>
        <div class="important">
          <h3 class="sub-header">
            Citizens under 14 years of age birth certificate
          </h3>
          <p class="sub-descr">
            Minor children cross the border accompanied by their parents,
            accompanied by a legal representative (notarized power of attorney
            indicating the country of export of the child).
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="important-container">
    <div class="descr-important">
      <p class="div-descr">
        You don't need a visa to cross the border, just an ID-card and $200 in
        cash
      </p>
      <p class="symbol">!</p>
    </div>
    <div class="descr-important">
      <p class="div-descr">
        When returning from Poland to Ukraine, you do not need to take a PLR
        test, they will not be quarantined (Resolution of the Cabinet of
        Ministers of Ukraine 8676 of 08/01/2020).
      </p>
      <p class="symbol">!</p>
    </div>
  </div>
</div>
