<section>
  <h2>Route description</h2>
  <ul>
    <li>
      <p>
        On this journey, you will have a New-reading of the seemingly well-known
        sights of the South Shore.
      </p>
    </li>
    <li>
      <p>
        In the palace of Count Vorontsov you will find signs of belonging of the
        "transformer of Taurida" to the secret order "Foggy Alhambra".
      </p>
    </li>
    <li>
      <p>
        In the park surrounding the palace, you will find out why Vorontsov
        decided to change the configuration of the earth's space and the sea
        surface.
      </p>
    </li>
    <li>
      <p>
        The cable car to Ai-Petri will give you the opportunity to walk through
        the sky and try to unravel the mysteries of the patriarchal trees of the
        Crimean forest.
      </p>
    </li>
    <li>
      <p>
        By visiting the Swallow's Nest castle, you will find out why its
        mistresses were exclusively women.
      </p>
    </li>
  </ul>
  <b>Importent</b>
  <p>
    Dress code is comfortable. Hats, sun protection. Bring snacks and water with
    you. When visiting the Ai-Petri plateau, you must have warm clothes.
  </p>
  <ul>
    <li>
      <img
        src="./images/route-description-about-tour-page/route1.jpg"
        alt="Count Vorontsov"
        width="413"
        height="570"
      />
    </li>
    <li>
      <img
        src="./images/route-description-about-tour-page/route2.jpg"
        alt="Swallow Nest"
        width="413"
        height="570"
      />
    </li>
  </ul>
</section>
