<section class="desc-page">
  <div class="container">
    <h3 class="titel-desc">Route description</h3>
    <div class="desc-name">
      <ul class="desc-site">
        <li class="desc-list">
          <p class="desc-list-item">
            On this journey, you will have a New-reading of the seemingly
            well-known sights of the South Shore.
          </p>
        </li>
        <li class="desc-list">
          <p class="desc-list-item">
            In the palace of Count Vorontsov you will find signs of belonging of
            the "transformer of Taurida" to the secret order "Foggy Alhambra".
          </p>
        </li>
        <li class="desc-list">
          <p class="desc-list-item">
            In the park surrounding the palace, you will find out why Vorontsov
            decided to change the configuration of the earth's space and the sea
            surface.
          </p>
        </li>
        <li class="desc-list">
          <p class="desc-list-item">
            The cable car to Ai-Petri will give you the opportunity to walk
            through the sky and try to unravel the mysteries of the patriarchal
            trees of the Crimean forest.
          </p>
        </li>
        <li class="desc-list">
          <p class="desc-list-item">
            By visiting the Swallow's Nest castle, you will find out why its
            mistresses were exclusively women.
          </p>
        </li>
      </ul>
      <b class="impor-info">Important</b>
      <p class="desc-list-item">
        Dress code is comfortable. Hats, sun protection. Bring snacks and water
        with you. When visiting the Ai-Petri plateau, you must have warm
        clothes.
      </p>
    </div>

    <div class="desc-content">
      <ul clas="desc-img list">
        <li class="desc-img-list">
          <img
            src="./images/route-description-about-tour-page/route1.jpg"
            alt="Count Vorontsov"
            width="113"
            height="370"
          />
        </li>
        <li class="desc-img-list">
          <img
            src="./images/route-description-about-tour-page/route2.jpg"
            alt="Swallow Nest"
            width="113"
            height="370"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
