<section class="tour-description-section">
  <div class="tour-description-container container">
    <h2 class="tour-description-title">Tour description</h2>
    <p class="tour-description-text">
      The most beautiful palace and park complex in Crimea is located in the
      city of Alupka. This is probably the richest palace on the peninsula.
      Almost everything is impressive here - monumental buildings built in
      architectural styles that combine Moorish traditions characteristic of the
      peninsula and English motifs. The complex fits perfectly into the
      surrounding nature. The peaks of Mount Ai-Petri are visible from the
      territory of the palace. The rich decoration of the interior halls of the
      palace is striking. Each of them is designed in its own style. Definitely
      worth visiting this place in the summer when there are many flower beds
      around.
    </p>
    <div class="tour-description-list-container ">
      <ul class="tour-description-list decorative-element">
        <li class="tour-description-item">
          <p class="tour-description-item-text"><svg class="tour-description-item-icon" width="30" height="30">
            <use href="./images/tour-description-about-tour-page/tour-description-icons.svg#icon-costs"></use>
          </svg>
          549 €</p>
          <h3 class="tour-description-item-title">Adult ticket</h3>
        </li>
        <li class="tour-description-item decorative-element">
          <p class="tour-description-item-text"><svg class="tour-description-item-icon" width="30" height="30">
            <use href="./images/tour-description-about-tour-page/tour-description-icons.svg#icon-costs"></use>
          </svg>
          499 €</p>
           <h3 class="tour-description-item-title">Children's ticket</h3>
        </li>
        <li class="tour-description-item decorative-element">
          <p class="tour-description-item-text"><svg class="tour-description-item-icon tour-description-item-icon-clock" width="19" height="19">
            <use href="./images/tour-description-about-tour-page/tour-description-icons.svg#icon-clock"></use>
          </svg>
          12 hours</p>
          <h3 class="tour-description-item-title visually-hidden">Duration</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
